<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402109061689-hucn7agbumad0hnder8c9rnf93d2kt4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402109061689-hucn7agbumad0hnder8c9rnf93d2kt4j</string>
	<key>API_KEY</key>
	<string>AIzaSyDdVbL-zni4_bidQbme0digth5BVTVBbmI</string>
	<key>GCM_SENDER_ID</key>
	<string>402109061689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ada-Dev.WagChat</string>
	<key>PROJECT_ID</key>
	<string>wagchat-30825</string>
	<key>STORAGE_BUCKET</key>
	<string>wagchat-30825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402109061689:ios:69ffeef333eabcfdcf0be8</string>
</dict>
</plist>